<h1>コロンボ</h1>

<div class="row"> 
  <% @pickup_tweets.each do |pickup_tweet| %>
    <div class="media span6">
      <span class="pull-left">
        <%= image_tag pickup_tweet.tweet_user_image_url, class: 'media-object img-rounded' %>
      </span>
      <div class="media-body">
        <div class="media-hedding">
          <%= pickup_tweet.tweet_user_name %>
        </div>
        <div class="media">
          <%= emphasize_keyword(pickup_tweet.text, pickup_tweet.keyword) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
