<h1>Editing excluded_twitter_user</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_excluded_twitter_user_path(@excluded_twitter_user) %> |
<%= link_to 'Back', admin_excluded_twitter_users_path %>
